.background    { background: #93d5e2;
                 table-layout: fixed;
                 border-spacing: 0;   }

.background td { padding: 0;          }

.lava          { background: #d63919; }

.wall          { background: white;   }

.game {
  overflow: hidden;
  max-width: 700px;
  max-height: 450px;
  position: relative;
}

.floater {
  background-color: #a142f4;
}
